<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/modal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/responsive.css') }}">
    <title>Recolha</title>
</head>
<body>


    <div id="page-home">

        <div class="containter">

            <header>
                <img src="{{ url_for('static', filename='src/logo_recolha.svg') }}" alt="logo-ecoleta">
                <a href="{{ url_for('creatRec') }}">
                <span></span>
                Regista um ponto de recolha</a>
            </header>
            <main>
    
                <h1>O teu marketplace de recolha de resíduos!</h1>
                <p>Queremos-te ajudar a encontrar pontos de recolha de forma rapida</p>
    
                <a href="#"><span></span><strong>Procurar pontos de recolha</strong></a>
            </main>
        </div>

    </div>

    <div id="modal" class="hide">
        <div class="content">
            <div class="header">
                <h1>Pontos de recolha</h1>
                <a href="#">Fechar</a>
            </div>
            <form action="">
                <label for="search">Cidade</label>
                <div class="search field">
                    <input type="text" name="search" placeholder="Escreve a cidade">
                    <button>
                        <img src="{{ url_for('static', filename='src/search.svg') }}" alt="">
                    </button>
                </div>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
</body>
</html>